.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #796724;
}

.btn-primary {
    background-color: #dbb11a;
}

.btn-secondary {
    background-color: #dbb11a;
}